#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Sunday to Saturday */
}
  
  .calendar-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5%;
    margin: 5px;
    cursor: pointer;
  }
  
  .calendar-day.current {
    background: #fff;
  }

  .calendar-day.currentDay {
    background:red;
  }
  
  .calendar-day.previous {
    background-color: lightgray;
    color: #999;
    cursor: default;
  }

  #dayNames ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none; 
    padding: 0; 
    margin: 0;
    
  }

  #dayNames li {
    text-align: center; 
    padding: 4px 0; 
  }

  #dayInfo{
    background-color: grey;
    height: 200px;
    width: 200px;
    margin-left: 500px;

  }

  .dayInfoDiv{

  }


  .lifePathInfo{

  }

  .lifePathInfoReduced{

  }

  .fullDate{
    background-color: red;
    font-size: 20px;
  }

  .dayMonthInfo{

  }

  .monthYearInfo{

  }

  .luckyNumberInfo{

  }